
@media only screen and (max-width: 1200px) {
    
    .main-nav {
                        margin-top: 15px;
                        margin-right: 5%;
                    }
    
                    .main-nav li a:link,
                    .main-nav li a:visited {
                        font-size: 80%;
                    }

                    .sec-nav li a:link,
                    .sec-nav li a:visited {
                        font-size: 70%;
                    }

                    .sec-nav {
                    margin-left:200px;
                    }
    
    
    .social-nav li a i{
                        font-size: 80%;
                    }
    
    .header-name {
                        font-size: 80%;
                    }
    
    .space-header {
        font-size: 80%;
    }
    
    .space_quote {
        font-size: 80%;
    }
    
    .space_author {
        font-size: 80%;
    }
    
    .answer1 h3 a {
        font-size: 70%;
        margin-left: 20px;
    }
    
    .answer1 h3 p{
        font-size: 70%;
        margin-left: 20px;
        
    }
    
}



@media only screen and (max-width: 1023px) {
    
    .main-nav {
                    margin-top: 15px;
                    margin-right: 5%;
                    }

                    .sec-nav {margin-left: 120px;}
    
                    .main-nav li a:link,
                    .main-nav li a:visited {
                        font-size: 60%;
                    }

                    .sec-nav li a:link,
                    .sec-nav li a:visited {
                        font-size: 50%;
                    }
    
    
     .bottom-nav li a {
                        font-size: 70%;
                        margin-left: 5px;
                    }
    
    
    .header-name {
                        font-size: 50%;
                    }
    
}




@media only screen and (max-width: 767px) {
    
    .main-nav {
                    margin-top: 15px;
                    margin-right: 10px;
                    }

                    .sec-nav {margin-left: 0px;}
    
                    .main-nav li a:link,
                    .main-nav li a:visited {
                        font-size: 80%;
                    }

                    .sec-nav li a:link,
                    .sec-nav li a:visited {
                        font-size: 0%;
                    }
    
                    .bottom-nav li a {
                        font-size: 80%;
                        margin-left: 5px;
                    }

                    .social-nav li a i {
                        font-size: 60%;
                        float: right;
                    }

                    footer p {
                        font-size: 40%;
                        margin-bottom: 0px;
                    }
    
    
     .space-header {
        font-size: 60%;
    }
    
    .space_quote {
        font-size: 60%;
    }
    
    .space_author {
        font-size: 60%;
    }
    
    .answer1 h3 a {
        font-size: 50%;
        margin-left: 20px;
    }
    
    .answer1 h3 p{
        font-size: 50%;
        margin-left: 20px;
        
    }
    
}



@media only screen and (max-width: 480px) {
    
    
    .main-nav {
                    margin-top: 5px;
                    margin-right: 5%;
                    }

                    .sec-nav {margin-left: 0px;}
    
                    .main-nav li a:link,
                    .main-nav li a:visited {
                        font-size: 50%;
                    }

                    .sec-nav li a:link,
                    .sec-nav li a:visited {
                        font-size: 0%;
                    }
    
    .bottom-nav li a {
                        font-size: 80%;
                    }
    
    
    .header-name {
                        font-size: 50%;
                    }
    
}