/* ---------------------------------------- */
/* Basic Setup */
/* ---------------------------------------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial','sans-serif';
    font-weight:300;
    font-size:20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* Reusable component */
/* ---------------------------------------- */


.row {
    max-width: 1140px;
    margin : 0 auto 0 auto;
}

/* ---------------------------------------- */
/* Headings*/
/* ---------------------------------------- */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 200%;
    font-weight:300;
    text-transform :uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    padding: 20px;
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    
}

h4 {
    font-size: 110%;
    font-weight: 400;
    margin-bottom: 10px;
}

h2:after {
    display: block;
    height:2px;
    background-color: #e67e22;
    content: " ";
    width: 50px;
    margin:0 auto;
    margin-top:10px;
}

.work,.section-work h2 {
    color:#fff;
}



/* ---------------------------------------- */
/* Paragraphs */
/* ---------------------------------------- */

.box1 p {
    text-align: justify;
    font-size: 90%;
    line-height: 145%;
    padding: 2%;
}

.section-work {
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)),url(img/image3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.work-intro {
    color: #fff;
    padding: 20px;
    font-size: 110%;
    line-height: 145%;
    text-align: center;
}

.box2 {
    color:#fff;
    text-align: justify;
    font-size; 100%;
    line-height: 145%;
}


/* ---------------------------------------- */
/* Buttons */
/* ---------------------------------------- */

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-formal:link,
.btn-formal:visited {
    border : 2px solid rgba(217, 134, 72, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

.btn-casual:link,
.btn-casual:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
    margin-left: 10px;
}

.btn:hover,
.btn:active {
    background-color: rgba(252, 252, 252, 0.5);
    color: #000000;
}

.btn-formal:hover,
.btn-formal:active {
    font-weight:400;
}

.btn-casual:hover,
.btn-casual:active {
    color: #fff;
}


/* ---------------------------------------- */
/* Logos */
/* ---------------------------------------- */

.education-logo {
    font-size: 350%;
    display: block;
    color: #e67e22;
    text-align: center;
}

.project-logo {
    font-size: 350%;
    display: block;
    color: #e67e22;
    text-align: center;
}

.logo {
    height: 40px;
    width:auto;
    float:left;
    margin-top: 20px;
    background-color: rgba(39, 34, 20, 0.24);
    color: rgba(21, 19, 19, 0.49);
}




/* ---------------------------------------- */
/* Headers */
/* ---------------------------------------- */

.header-name {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px;
    color: rgba(178, 177, 174, 0.76);
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)),url(img/jordan_white.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.intro-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
}


.name {
    margin: 0 auto 0 auto;
    padding: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 80%;
    margin-left:40px
}

.name:hover {
    border-bottom: 1px solid #e67e22;
}

.main-nav {
    float:right;
    list-style: none;
    margin-top: 15px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 25px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.sec-nav {
    float: left; 
    list-style: none;
    margin-left:250px;
}

.sec-nav li {
    display: inline-block;
    margin-top: 40px;
    margin-left: 10px;
}

.sec-nav li a:link,
.sec-nav li a:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 350;
    font-size: 80%;
    padding: 5px;
}

.sec-nav li a:hover,
.sec-nav li a:active {
    border-bottom: 1px solid #e67e22; 
}


/* ---------------------------------------- */
/* Quotes */
/* ---------------------------------------- */

blockquote {
    padding: 2%;
    font-style: italic;
    font-size: 300%;
}

cite {
    display: block;
}


/* ---------------------------------------- */
/* Footer */
/* ---------------------------------------- */


footer {
    background-color: #6c6c6c;
    padding: 20px;
    font-size: 80%;
}

.bottom-nav {
    float: left;
    margin: 0px 0 40px 40px; 
}

.social-nav {
    float: right;
    margin: 0px 40px 40px 0;
}

.social-nav li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.bottom-nav li {
    list-style: none;
    display: inline-block;
}

.bottom-nav li a:link,
.bottom-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited{
    text-decoration: none;
    margin: 0 10px 0 10px;
    border: 0;
    color: #888;
}

.bottom-nav li a:hover,
.bottom-nav li a:active {
    color: #000000;
}

.social-nav li a:link,
.social-nav li a:visited {
    font-size: 160%;
}

footer p {
    text-align:center;
    margin-top: 40px;
}


/* ---------------------------------------- */
/* Social links */
/* ---------------------------------------- */

.ion-logo-facebook:hover {
    color: #3b5998;
}

.ion-logo-twitter:hover {
    color: #00aced;
}

.ion-logo-instagram:hover {
    color: #517fa4;
}

.ion-logo-linkedin:hover {
    color: #0e76a8;
}

.ion-logo-youtube:hover {
    color: #c4302b;
}
